

<div class="toolbar" role="banner">
  <img src="/assets/logo_white.png" />
</div>

<div class="content" role="main">
  <h2>Products</h2>
  <div class="container">
   
    <form [formGroup]="searchForm">
    <div class="filter">
      <label for="search"><b>Search</b> </label>
      <input id="search" type="text" formControlName="search"/>
    </div>
  </form>

    <div class="filter">
      <label for="brands"><b>Brands</b></label>
      <select id="brands" (change)="onChangeBrand($event)">
        <option *ngFor="let brand of productBrands$ | async" [value]="brand">{{brand}}</option>
      </select>
    </div>

    <div class="filter">
      <label for="all">All</label>
      <input type="radio" (change)="onChangeRadio($event)" id="all" name="stock" value="all" checked>
      <label for="in-stock">In stock</label>
      <input type="radio" (change)="onChangeRadio($event)" id="in-stock" name="stock" value="in-stock">
      <label for="out-of-stock">Out of stock</label>
      <input type="radio" (change)="onChangeRadio($event)" id="out-of-stock" name="stock" value="out-of-stock">
    </div>
  </div>
  <div class="container">
    <products-table [products]="(filteredProducts$ | async) | searchFilter: searchForm.value.search">
    </products-table>
  </div>
</div>
