

<table *ngIf="products.length" id="productTable" class="tableCenter">
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Quantity</th>
    <th>Description</th>
  </tr>

  <tr *ngFor="let product of products; trackBy: myTrackingFn">
    <td>{{product.id}}</td>
    <td>{{product.name}}</td>
    <td>{{product.brand}}</td>
    <td>{{product.price}}</td>
    <td style="text-align: center;">{{product.quantity}}</td>
    <td>{{product.description}}</td>
  </tr>

</table>


<div *ngIf="!products.length" style="text-align: center;">
  <h4>no product found</h4>
</div>